
.NewListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 4px 0;
}

.NewItemActions {
  display: flex;
  align-items: center;
}

input[type="text"] { 
 border-radius: 30px;
} 

button {
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 10px 15px;
  border-style:none;
}

.NewAppMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10vh;
}

.NewAppMain h1 {
  margin: 0;
  font: 2rem;
  font-family: 'Archivo', sans-serif;
  font-size: 2rem;
}

html {
  color: #fff;
  background-color: #08649c;
}

ul {
  list-style-type: none;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.NewAppMain input {
  width: 100%;
  max-width: 18vw;
  height: auto;
  min-height: 4vh;
  margin: 2% 0;
}

.NewAppMain > button {
  width: 100%;
  max-width: 15vw;
  height: auto;
  min-height: 4vh;
  max-height: 10vh;
  font: 1em sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0.4rem;
  font-family: 'Archivo', sans-serif;
}

.trash-btn {
  width: 10px;
  background: red;
}

.NewButtonTrash {
  width: 5rem;
  height: 2rem;
  margin-left: 10px; /* Espaçamento entre o botão e o checkbox */
}

.NewButtonCheckBox {
  width: 5rem;
  height: 2rem;
}

.NewTrashIcon {
  font-size: 1.2rem;
}
